.header{
    /* background-color: rgba(184, 120, 196, 0.299); */
    padding: .4rem;
    overflow: hidden;
    height: 2.8rem;
    width: 100% ;
    /* calc(100% - 0.8rem);; */
    border-bottom: 1px solid rgba(131, 199, 209, 0.637);
    position: fixed;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
    background-image: linear-gradient(to top, #f3e7e9ec 0%, #e3eeffea 99%, #e3eeffec 100%);
}

.header-logo{
    color: #1e90ff;
    font-size: 2rem;
    text-align: left;
}

.header-txt{
    font-size: .6rem;
    color: #999999b9;
    display: inline-block;
    padding-left:.3rem ;
}

.right{
    justify-content: right;
    position:absolute
}